@import "resett.css";
html {
    max-width: 1280px;
}

body {
    width: 1200px;
    content: normal;
}

h1>a {
    text-decoration: none;
}

.intro-heading {
    display: inline;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿
    MyriadPro-Regular, sans-serif;
    font-size: 80pt;
    font-weight: normal;
    color: rgba(0, 0, 0, 255);
    margin-left: 100px;
    margin-top: 61px;
    margin-bottom: 50px;
    width: 282pt;

}

 .intro-heading span {
     color: #4bcaff;

 }

 .a>intro-heading:hover {
     color: aqua;
 }


 .block {
     display: block;
     width: 1300px;
     height: 68px;
     margin-top: 20px;
     margin-left: 100px;
     margin-bottom: 51px;
     padding: 1px 20px;
     background-color: #35444f;
     color: seashell;
     font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
     font-size: 24px;


 }

 .functional {
     display: inline-block;
     height: 50px;
     width: 400px;
     margin: 0;
     padding: 0px 20px;
     padding-top: 18px;
     text-align: center;
     color: #ffffff;
     text-decoration: none;
 }

 .functional:hover {
     background-color: #222f3a;
 }
.ramda {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 0;
    padding-top: 18px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.ramda:hover {
    background-color: #222f3a;
}
.fantasy {
    display: inline-block;
    width: 250px;
    height: 50px;
    margin: 0;
    padding-top: 18px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.fantasy:hover {
    background-color: #222f3a;
}
.node {
    display: inline-block;
    width: 300px;
    height: 50px;
    margin: 0;
    text-align: center;
    padding: 0px 20px;
    padding-top: 18px;
    color: #ffffff;
    text-decoration: none;
}
.node:hover {
    background-color: #222f3a;
}
/*блок2*/
.block2 {
    display: inline-block;
    width: 344px;
    height: 399px;
    margin-left: 100px;
    margin-right: 30px;
    margin-bottom: 40px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 29.99244pt;
    color: rgba(73, 88, 99, 255);
    background-color: white;
    text-align: left;
    border: 2px solid grey;
    position: absolute;

}

.b21 {
    display: inline-block;
    width: 322px;
    height: 69px;
    padding-left: 22px;
    padding-top: 11px;

}
.b21:hover {
    width: 322px;
    color: #000000;
    background-color: #dbdbdb;
    transition: .7s;
    border: 2px solid black;

}
.b22 {
    display: block;
    width: 322px;
    height: 69px;
    padding-left: 22px;
    padding-top: 11px;
}
.b22:hover {
    width: 322px;
    color: #000000;
    background-color: #dbdbdb;
    transition: .7s;
    border: 2px solid black;

}
.b23 {
    display: block;
    width: 322px;
    height: 69px;
    padding-left: 22px;
    padding-top: 11px;
}
.b23:hover {
    width: 322px;
    color: #000000;
    background-color: #dbdbdb;
    transition: .7s;
    border: 2px solid black;


}


.b24 {
    display: block;
    width: 322px;
    height: 69px;
    padding-left: 22px;
    padding-top: 11px;
}
.b24:hover {
    width: 322px;
    color: #000000;
    background-color: #dbdbdb;
    transition: .7s;
    border: 2px solid black;

}
.b25 {
    display: block;
    width: 322px;
    height: 69px;
    padding-left: 22px;
    padding-top: 11px;
}
.b25:hover {
    width: 322px;
    color: #000000;
    background-color: #dbdbdb;
    transition: .7s;
    border: 2px solid black;

}

.block3 {
    margin: 30px 550px;
    margin-top: 0;
    display: inline-block;
    width: 885px;
    height: 529px;
    text-align: center;
    border: 2px solid grey;
    position: relative;

}

.img {
    height: 381px;
    width: 320px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.img:hover {
    zoom: 1.2;
    transition: 2s;
    -webkit-transform: scale(1.1);
}

.p1 {
    display: inline-block;
    width: 70%;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    margin-left: 550px;
    margin-bottom: 20px;

}

.p2 {
    display: inline-block;
    width: 70%;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    margin-left: 550px;
    margin-bottom: 40px;
}

.block4 {
    display: inline-block;
    width: 1350px;
    height: 60px;
    margin-left: 100px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 20pt;
    color: #0c1927;
    background-color: #b4b7ba;
    text-decoration: none;



}
.block4 span {
    padding: 20px;

}

.block41 {
    display: inline-block;
    width: 90px;
    margin: auto;
    height: 20px;
    text-decoration: none;
    color: #0c1927;
}

.block41:hover {
    color: #6597ae;

}
.block42 {
    display: inline-block;
    text-decoration: none;
    color: #0c1927;
}
.block42:hover {
    color: #6597ae;
}

.block43 {
    display: inline-block;
    margin: auto;
    text-decoration: none;
    color: #0c1927;
}
.block43:hover {
    color: #6597ae;
}

.block44 {
    display: inline-block;
    margin: auto;
    text-decoration: none;
    color: #0c1927;
}


.block44:hover {
    color: #6597ae;
}

.block45 {
    display: inline-block;
    margin: auto;
    text-decoration: none;
    color: #0c1927;
}
.block45:hover {
    color: #6597ae;
}
.block46 {
    display: inline-block;
    width: 330px;
    text-align: right;
}